
body {
    color: #222;
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: #ffffff; 
}

main {
    padding: 30px;
    background-color: #ffffff;
    width: 80%;
    margin: 30px auto; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd;
}


section {
    margin-bottom: 25px;
    padding: 20px;
}


img {
    margin-top: 25px;
    width: 100%; 
    max-width: 400px; 
    height: 250px;
    object-fit: cover; 
    border: 2px solid #ccc;
}


.gallery {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

.gallery img {
    width: 32%; 
    height: 250px; 
    object-fit: cover; 
    border: 2px solid #ccc;
}


a {
    color: #ff0048; 
    text-decoration: none; 
    font-size: 1.1rem;
}

a:hover {
    color: #ff0048; 
}


footer {
    background-color: #ff0048; 
    color: white;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
}
